@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.text-begin{
    height: 0px;
    background-color: #e6e6e6;
    transition: .1s ease;
}

.text-begin:hover{
    height: 90px;
    transition: .1s ease;
    background-color: #e6e6e6;
}

.text-begin h1{
    font-family: 'Poppins', sans-serif;
}

.text-begin a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.container p{
    margin: 100px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.img img{
    display: flex;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}